{% extends "base.html" %}
{% load static %}
{% block content %}



    <!-- PRELOADER START -->
    <div id="loader-wrapper">
        <div class="loader">
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
        </div>
    </div>
    <!-- PRELOADER END -->

    <header>

        <!-- NAV START -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container p-0">

                <a href="{%url 'home'  %}" class="navbar-brand"><img src="img/master/LogoFoto.png" alt=""></a>

               <div id="ytWidget"></div><script src="{% static 'js/widget5d1f.js' %}?widgetId=ytWidget&amp;pageLang=en&amp;widgetTheme=dark&amp;autoMode=true" type="text/javascript"></script>

                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="menu-icon-bar"></span>
                    <span class="menu-icon-bar"></span>
                    <span class="menu-icon-bar"></span>
                </button>

                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li><a href="{%url 'home'  %}" class="nav-item nav-link">HOME</a></li>
                        <li><a href="{%url 'about' %}" class="nav-item nav-link">ABOUT US</a></li>
                        <li><a href="{%url 'contact' %}" class="nav-item nav-link">CONTACT US</a></li>
                        <li><a href="{%url 'track_shipment' %}" class="nav-item nav-link">TRACK SHIPMENT</a></li>
                    </ul>
                </div>

            </div>
        </nav>
        <!-- NAV END -->

        <!--SLIDER START-->


        <!-- FRONT BOXES START -->

<div class="pages-hero">
    <div class="container">
        <div class="pages-title">
            <h1>Contact</h1>
            <div class="page-nav">
                <p><a href="{%url 'home'  %}">Home</a> &nbsp; | &nbsp; <a href="#">Contact</a></p>
            </div>
        </div>

    </div>
</div>

<!-- CONTENT START -->
<section>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-box">
                    <span class="cb-icon">
                        <i class="fas fa-location-arrow"></i>
                    </span>
                    <h3>Address</h3>
                    <p>8273 NW 56th ST Miami, Florida, 33195 United States</p>
                    <h5><a href="#">Locate on Google Map</a></h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <span class="cb-icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <h3>Email</h3>
                    <p>We specialise in intelligent & effective Search and believes.</p>
                    <h5><a href="mailto:support@worldwildcargos.com">support@worldwildcargos.com</a></h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box">
                    <span class="cb-icon">
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <h3>Phone</h3>
                    <p>We specialise in intelligent & effective Search and believes.</p>
                    <p><a href="tel:052-5401-3322"> +44 745 127 8451</a></p>
                    <p><a href="tel:052-5401-3322"> +44 745 127 8451</a></p>
                    <p><a href="tel:052-5401-3322"> +44 745 127 8451</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-form mt-5">
        <div class="container">
            <div class="section-title">
                <h2>Get In Touch</h2>
                <p>We specialise in intelligent & effective Search</p>
            </div>
            <div class="row">
            <div class="col-md-8">
                <form id="contact-form" method="post" action="{%url 'savecomplain' %}">
                {% csrf_token %}
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_name" type="text" name="name" class="form-control customize" placeholder="Name" required="required" data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_email" type="email" name="email" class="form-control customize" placeholder="Email address" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="form_phone" type="tel" name="phone" class="form-control customize" placeholder="Please enter your phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="form_message" name="message" class="form-control customize" placeholder="Your message" rows="6" required="required" data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 btn-send">
                                <p><input type="submit" class="btn btn-contact" value="Send message"></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

</section>
<!-- CONTENT END -->

{% endblock %}